/7-10-2023_code.ipynb
/antiderivative_aligned_test.npz
/antiderivative_aligned_train.npz
/DeepONet.ipynb
/dss-case123_der-0.8_combined_partitioned_diffeqpy_test-solarevents-0_soltime-192.9s_simulation.csv
/Internship2wrk.ipynb
/internshipredo3.ipynb
/Internshipwrk.ipynb
/loss_history_n_samples-10.png
/Notebook.ipynb
/try3.ipynb
/trycode.ipynb